<clr-modal [(clrModalOpen)]="showModals">
    <div class="modal-title">
        {{ judulModal }}
    </div>
    <div class="modal-body">
        <form [formGroup]="formPermission" (ngSubmit) = "onCreate()">
            <p style="white-space: pre-wrap;">
                <clr-control-container>
                    <label>Nama</label>
                    <input id="name" name="name" type="text" class="form-control" placeholder="Nama" formControlName="name" [(ngModel)]="permission.name" (ngModelChange)="periksaAlert($event)" style="width:800px;" clrControl required >
                    <clr-control-error *clrIfError="'required'">Harap isi data untuk nama</clr-control-error>
                </clr-control-container>
                            
                <!-- <clr-control-container>
                    <label>Email</label>
                    <input id="email" name="email" type="email" class="form-control" placeholder="Email" formControlName="email" [(ngModel)]="pelanggan.email" (ngModelChange)="periksaAlert($event)" style="width:800px;" clrControl required >
                    <clr-control-error *clrIfError="'required'">Required</clr-control-error>
                    <clr-control-error *clrIfError="'email'">Invalid Email</clr-control-error>
                </clr-control-container>
                
                <clr-control-container>
                    <label>No. Telp</label>
                    <input id="hp" name="hp" type="text" class="form-control" placeholder="Handphone" formControlName="hp" [(ngModel)]="pelanggan.hp" (ngModelChange)="periksaAlert($event)" style="width:800px;" clrControl required >
                    <clr-control-error *clrIfError="'required'">Required</clr-control-error>
                    <clr-control-error *clrIfError="'pattern'">Only Number</clr-control-error>
                </clr-control-container> -->
                
                <clr-control-container>
                    <div class="clr-toggle-wrapper">
                        <input formControlName="status" type="checkbox" id="status" name="status" [(ngModel)]="permission.status" (ngModelChange)="periksaAlert($event)" value="active" class="clr-toggle" />
                        <label for="status" class="clr-control-label">Status</label>
                    </div>
                    <!-- <label>Status</label>
                    <select id="status" name="status" class="form-control" placeholder="Status" formControlName="status" [(ngModel)]="permission.status" (ngModelChange)="periksaAlert($event)" style="width:800px;" clrControl required >  
                        <option disabled>Status</option>  
                        <option value="Active">Active</option>  
                        <option value="Inactive">Inactive</option>   
                    </select>  
                    <clr-control-error *clrIfError="'required'">Harap isi data untuk status</clr-control-error> -->
                </clr-control-container>
                
                <clr-textarea-container>
                    <label>Deskripsi</label>
                    <!-- <input id="description" name="description" type="text" class="form-control" placeholder="Description" formControlName="description" [(ngModel)]="permission.description" (ngModelChange)="periksaAlert($event)" style="width:800px;" clrControl> -->
                    <textarea id="description" name="description" type="text" class="form-control" placeholder="Deskripsi" formControlName="description" [(ngModel)]="permission.description" (ngModelChange)="periksaAlert($event)" style="width:800px;" clrTextarea></textarea>
                    <clr-control-error *clrIfError="'required'">Harap isi data untuk deskripsi</clr-control-error>
                </clr-textarea-container>
                
    
                <button type="submit" class="btn btn-primary" [disabled]="buttonSave">Simpan</button>&#160;&#160;
                <button (click)="close()" type="submit" class="btn btn-outline-dark">Kembali</button>
            </p>
        </form>
    </div>
</clr-modal>