<clr-modal [(clrModalOpen)]="showModals">
    <div class="modal-title">
        {{ judulModal }}
    </div>
    <div class="modal-body">
        <div class="resetPassword">
            <form [formGroup]="formResetPassword" (ngSubmit) = "onReset()" *ngIf="pengguna">
                <cds-control-message status="error" style="width:40%;">
                  <p style="white-space: pre;">
                    <font color="Red">{{ alertValidasi }}</font>
                  </p>
                </cds-control-message>
                <div class = "clr-row">
                    <clr-password-container class="clr-col-6">
                        <label>Password</label>
                        <input id="password" name="password" type="password" formControlName="password" placeholder="Password"  [(ngModel)]="pengguna.password" (ngModelChange)="periksaAlert($event)" autocomplete="off" clrPassword required >
                        <clr-control-error *clrIfError="'required'">Harap isi data untuk password</clr-control-error>
                    </clr-password-container>
                    <clr-password-container class="clr-col-6">
                        <label>Konfirmasi Password</label>
                        <input id="password_conf" name="password_conf" type="password" formControlName="password_conf" placeholder="Password Konfirmasi" [(ngModel)]="pengguna.password_conf" (ngModelChange)="periksaAlert($event)" autocomplete="off" clrPassword required >
                        <clr-control-error *clrIfError="'required'">Harap isi data untuk konfirmasi password</clr-control-error>
                    </clr-password-container>
                </div>
                    
                <button type="submit" class="btn btn-primary" [disabled]="buttonReset">Ubah</button>
                <button (click)="close()" type="submit" class="btn btn-outline-dark">Kembali</button>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button id="btnDelete" name="btnDelete" type="button" class="btn btn-outline-dark" [hidden]="statusButtonDelete" (click)="functionHapus(jenisFunction, id)">Hapus</button> -->
        <!-- <button (click)="close()" type="submit" class="btn btn-primary">Kembali</button> -->
      </div>
</clr-modal>

