<clr-modal [(clrModalOpen)]="showModals">
    <div class="modal-title">
        {{ judulModal }}
    </div>

    <div class="modal-body">
        <form [formGroup]="formDetailKontrak" (ngSubmit) = "onCreate()">
            <cds-control-message status="error">
              <p style="white-space: pre;">
                <font color="Red">{{ alertValidasi }}</font>
              </p>
            </cds-control-message>
            
            <div class="clr-row">
                <clr-combobox-container class="clr-col-6">
                    <label>Contract Header</label>
                    <clr-combobox formControlName="contract_header_id" [(ngModel)]="selectContractHeader"  (ngModelChange)="periksaAlert($event);"  name="contract_header_id" required>
                        <clr-options>
                            <clr-option *clrOptionItems="let row of contractHeader; field:'code'" [clrValue]="row">
                                <clr-icon shape="world" role="img" aria-label="World is turning"></clr-icon> {{row.code}}
                                <clr-icon shape="sun" role="img" aria-label="Sun is shining"></clr-icon>
                            </clr-option>
                        </clr-options>
                    </clr-combobox>
                    
                    <clr-control-error *clrIfError="'required'">Harap isi data untuk kepala kontrak</clr-control-error>
                </clr-combobox-container>

                <clr-combobox-container class="clr-col-6">
                    <label>Pengguna Klinik</label>
                    <clr-combobox formControlName="user_clenic_id" [(ngModel)]="selectUserClenic" (ngModelChange)="periksaAlert($event)" name="user_clenic_id" required>
                        <clr-options>
                            <clr-option *clrOptionItems="let row of userClenic; field:'name'" [clrValue]="row">
                                <clr-icon shape="world" role="img" aria-label="World is turning"></clr-icon> {{row.name}}
                                <clr-icon shape="sun" role="img" aria-label="Sun is shining"></clr-icon>
                            </clr-option>
                        </clr-options>
                    </clr-combobox>
                    <clr-control-error *clrIfError="'required'">Harap isi data untuk pengguna klinik</clr-control-error>
                </clr-combobox-container>  
            </div>

            <clr-control-container> 
                <label>Jumlah</label>
                <input id="qty" name="qty" type="text" formControlName="qty" placeholder="Jumlah" [(ngModel)]="contractDetail.qty" (ngModelChange)="periksaAlert($event)" autocomplete="off" size="100" clrControl required >
                <clr-control-error *clrIfError="'required'">Harap isi data untuk jumlah</clr-control-error>
                <clr-control-error *clrIfError="'pattern'">Hanya bisa dimasukkan dengan angka</clr-control-error>
            </clr-control-container>
    
            <clr-control-container> 
                <label>Harga</label>
                <input id="price" name="price" type="text" formControlName="price" placeholder="Tipe Diskon" [(ngModel)]="contractDetail.price" (ngModelChange)="periksaAlert($event)" autocomplete="off" size="100" clrControl required >
                <clr-control-error *clrIfError="'required'">Harap isi data untuk harga</clr-control-error>
                <clr-control-error *clrIfError="'pattern'">Hanya bisa dimasukkan dengan angka</clr-control-error>
            </clr-control-container>
    
            <clr-control-container> 
                <label>Tipe Diskon</label>
                <input id="discount_type" name="discount_type" type="text" formControlName="discount_type" placeholder="Tipe Diskon" [(ngModel)]="contractDetail.discount_type" (ngModelChange)="periksaAlert($event)" autocomplete="off" size="100" clrControl required >
                <clr-control-error *clrIfError="'required'">Harap isi data untuk tipe diskon</clr-control-error>
                <clr-control-error *clrIfError="'pattern'">Hanya bisa dimasukkan dengan angka</clr-control-error>
            </clr-control-container>
    
            <clr-control-container> 
                <label>Nilai Diskon</label>
                <input id="discount_value" name="discount_value" type="text" formControlName="discount_value" placeholder="Nilai Diskon" [(ngModel)]="contractDetail.discount_value" (ngModelChange)="periksaAlert($event)" autocomplete="off" size="100" clrControl required >
                <clr-control-error *clrIfError="'required'">Harap isi data untuk nilai diskon</clr-control-error>
                <clr-control-error *clrIfError="'pattern'">Hanya bisa dimasukkan dengan angka</clr-control-error>
            </clr-control-container>
    
            <clr-control-container> 
                <label>Sub Total</label>
                <input id="subtotal" name="subtotal" type="text" formControlName="subtotal" placeholder="Sub Total" [(ngModel)]="contractDetail.subtotal" (ngModelChange)="periksaAlert($event)" autocomplete="off" size="100" clrControl required >
                <clr-control-error *clrIfError="'required'">Harap isi data untuk sub total</clr-control-error>
                <clr-control-error *clrIfError="'pattern'">Hanya bisa dimasukkan dengan angka</clr-control-error>
            </clr-control-container>
    
            <button type="submit" class="btn btn-primary" [disabled]="buttonSave">Simpan</button>
            <button (click)="close()" type="submit" class="btn btn-outline-dark">Kembali</button>
        </form>
    </div>

    <div class="modal-footer">
        <!-- <button id="btnDelete" name="btnDelete" type="button" class="btn btn-outline-dark" [hidden]="statusButtonDelete" (click)="functionHapus(jenisFunction, id)">Hapus</button> -->
        <!-- <button (click)="close()" type="submit" class="btn btn-primary">Kembali</button> -->
    </div>
</clr-modal>
  






































