<div class="clr-row">
    <div class="clr-col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="content-header">
                    <div class="content-title"> <img src="assets/icons/rating.png" class="img-icon" />{{ title }}</div>
                    <div class="content-element">
                        <a (click)="popupCreatePelanggan()" class="btn btn-rounded btn-primary btn-icon" [hidden]="statusButtonCreate">
                            <cds-icon shape="plus-circle" class="nav-icon ng-star-inserted"></cds-icon>
                            Tambah Data Pelanggan
                        </a>
                    </div>
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <clr-datagrid>
                            <!--<clr-dg-column>No</clr-dg-column>-->
                            <clr-dg-column [clrDgField]="'code'">Kode</clr-dg-column>
                            <clr-dg-column [clrDgField]="'company_name'">Nama Klinik</clr-dg-column>
                            <clr-dg-column [clrDgField]="'npwp'">NPWP</clr-dg-column>
                            <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>
                            <!-- <clr-dg-column>Status</clr-dg-column> -->
                            <clr-dg-column [clrDgField]="'pic_name'">Nama PIC</clr-dg-column>
                            <clr-dg-column [clrDgField]="'pic_phone_number'">Kontak PIC</clr-dg-column>
                            <clr-dg-column *ngIf="statusButtonEdit==false || statusButtonDelete==false">Aksi</clr-dg-column>
                    
                            <clr-dg-row *clrDgItems="let row of pelanggan let i = index" [class.active]="i == currentIndex">
                                <!--<clr-dg-cell>{{i + 1}}</clr-dg-cell>-->
                                <clr-dg-cell><a (click)="detailPelanggan(
                                    row.id,
                                    row.code,
                                    row.company_name,
                                    row.owner_name,
                                    row.ktp_id,
                                    row.npwp,
                                    row.address,
                                    row.provinsi_id,
                                    row.kabupaten_kota_id,
                                    row.kecamatan_id,
                                    row.desa_kelurahan_id,
                                    row.zipcode,
                                    row.phone_number,
                                    row.email,
                                    row.email_verified_at,
                                    row.pic_name,
                                    row.pic_phone_number,
                                    row.status,
                                    row.created_date,
                                    row.updated_date,
                                    row.nama_provinsi,
                                    row.nama_kabupaten_kota,
                                    row.nama_kecamatan,
                                    row.nama_desa_kelurahan
                                )" data-title="Lihat" class="label label-info">{{row.code}}</a></clr-dg-cell>
                                <clr-dg-cell>{{row.company_name}}</clr-dg-cell>
                                <clr-dg-cell>{{row.npwp}}</clr-dg-cell>
                                <clr-dg-cell>{{row.status}}</clr-dg-cell>
                                <!-- <clr-dg-cell *ngIf="row.status.toLowerCase()=='active'">Aktif</clr-dg-cell>
                                <clr-dg-cell *ngIf="row.status.toLowerCase()!='active'">Tidak Aktif</clr-dg-cell> -->
                                <clr-dg-cell>{{row.pic_name}}</clr-dg-cell>
                                <clr-dg-cell>{{row.pic_phone_number}}</clr-dg-cell>
                                <clr-dg-cell *ngIf="statusButtonEdit==false || statusButtonDelete==false">
                                    <a (click)="popupUpdatePelanggan(row.id, row.company_name)" class="label btn-sm label-info label-action" [hidden]="statusButtonEdit" data-title="Ubah Data">
                                        <cds-icon shape="pencil" size="xs" class="nav-icon ng-star-inserted"></cds-icon>
                                    </a>
                                    <a (click)="popupHapusPelanggan(row.id, row.company_name)" class="label btn-sm label-danger label-action" data-title="Hapus" *ngIf="row.status.toLowerCase()=='active'" [hidden]="statusButtonDelete">
                                        <cds-icon shape="trash" size="xs" class="nav-icon ng-star-inserted"></cds-icon>
                                    </a>
                                </clr-dg-cell>
                            </clr-dg-row>
                            <clr-dg-footer>
                            <clr-dg-pagination #pagination [clrDgPageSize]="10">
                                <clr-dg-page-size #clrDgPageSize [clrPageSizeOptions]="[10,20,50,100]">
                                    <label [for]="clrDgPageSize.pageSizeOptionsId">Halaman</label>
                                </clr-dg-page-size>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                dari {{pagination.totalItems}} Pelanggan
                            </clr-dg-pagination>
                            </clr-dg-footer>
                        </clr-datagrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modals></app-modals>
<app-create-pelanggan></app-create-pelanggan>
<app-update-pelanggan></app-update-pelanggan>