.login-wrapper
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../assets/Kantor1.jpg');
}

.login-mb-wrapper
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../assets/Kantor1.jpg');
}

.login-wrapper .login
{
    border: 0;
    background: rgb(0 0 0 / 5%);
}

.login-wrapper .login .title
{
    font-size: 46px;
    text-align: center;
}

.login-wrapper .login .title .welcome
{
    font-size: 46px;
    margin-bottom: 20px;
}

.login .title span
{
    font-weight: 600;
}

.clr-input
{
    font-size: 18px;
    font-weight: 300;
}